{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Dự án đã thực hiện</h1>

<div class="row mt-4">

<div class="col-md-4">

<img src="{% static 'images/project1.jpg' %}" class="img-fluid">
    <div class="project-info">
        <div class="project-title">Lắp đặt MBA 110KV và thiết bị</div>
        <div class="project-desc">tại Trạm 110kV Thanh Xuân - EVN Hà Nội và trạm GIS 110kV Phương Liệt</div>
    </div>


</div>

<div class="col-md-4">

<img src="{% static 'images/project2.jpg' %}" class="img-fluid">
    <div class="project-info">
        <div class="project-title">Cung cấp, lắp đặt thiết bị TBA 22kV</div>
        <div class="project-desc">tại Khu đô thị Linh Đàm - Hà Nội</div>
    </div>

</div>

<div class="col-md-4">

<img src="{% static 'images/project3.jpg' %}" class="img-fluid">
    <div class="project-info">
        <div class="project-title">Thủy điện Nậm Mức / BITEXCO</div>
        <div class="project-desc">và nhiều dự án lớn nhỏ khác</div>
    </div>

</div>

</div>

<section class="section project-table">
  <div class="container">

    <h2 class="text-center mb-4">Các dự án đã hoàn thành</h2>

    <div class="table-responsive">
      <table class="table project-table-custom">
        <thead>
          <tr>
            <th>TT</th>
            <th>Tên dự án - công trình</th>
            <th>Chủ đầu tư/đối tác</th>
            <th>Năm</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1</td>
            <td>Nâng công suất trạm E1.19 Sóc Sơn</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2017</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Cải tạo NĐK phân phối hệ thống mương cáp và nâng công suất MBA T3 trạm 110kV Nghĩa Đô</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2015</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Xây dựng trạm biến áp 110kV Ba Vì</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2018</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Xây dựng nhà điều hành T3 trạm 110kV Thanh Xuân E1.20</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2016</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Xây dựng và lắp đặt Trạm GIS Phương Liệt</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2018</td>
          </tr>

          <tr>
            <td>6</td>
            <td> Thi công xây lắp 02 lộ XT 22kV từ trạm 220kV Vân 
trì đến TBA 110/22kV sân bay Nội Bài(phầnmóng)</td>
            <td>Công ty Điện lực Sóc Sơn</td>
            <td>2014</td>
          </tr>

          <tr>
            <td>7</td>
            <td>Gói thầu Đ-HT2: Thi công lắp đặt tuyến cáp sau TBA 
N1,3,5,6,7 cấp điện cho TBA N1 (Lô TT1), N3 (Lô 
TT2), N5 (Lô TT4, TT6), N6 (Lô TT3, CT3) và N7 (Lô 
TT5)</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2015</td>
          </tr>

          <tr>
            <td>8</td>
            <td> Đ-3D Thi công các TBA N7, N9, N10 và thi công 
tuyến cáp ngầm 22kV từ TBA N5 đến TBA N9</td>
            <td>Côngty TNHHXây
lắpđiện1-Hà Nội
/Tổng công ty đầu tư 
phát triển nhà & đô 
thị</td>
            <td>2015</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Xâylắpnhàđiềuhànhtrạmbiếnáp110 kV thủyđiện
Nậmmứcvàhệthôngthang giácáplực</td>
            <td>Côngty TNHH MTV 
XLDD1 Ba 
La/Bitexco</td>
            <td>2013</td>
          </tr>

          <tr>
            <td>10</td>
            <td>Xây lắp mở rộng TBA 220kV Vân Trì</td>
            <td>Công ty TNHH Xây lắp điện 1 Hà Nội</td>
            <td>2015</td>
          </tr>


          <tr>
            <td>11</td>
            <td>Gia công chế tạo kết cấu thép mạ kẽm cho các dự
án điện và dân dụng</td>
            <td>EVN, Bitexco, Hud..</td>
            <td>2013</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</section>

{% endblock %}