{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Dịch vụ cơ khí và xây dựng khu vực Hà Nội và lân cận</h1>

<div class="row mt-4">

<div class="col-md-4">

<img src="{% static 'images/dichvu1.jpg' %}" class="img-fluid">

<h3>Gia công CNC</h3>

<p>
Gia công CNC chính xác cao theo bản vẽ.
</p>

</div>

<div class="col-md-4">

<img src="{% static 'images/dichvu2.jpg' %}" class="img-fluid">

<h3>Gia công kim loại</h3>

<p>
Cắt, tiện, phay kim loại theo yêu cầu.
</p>

</div>

<div class="col-md-4">

<img src="{% static 'images/dichvu3.jpg' %}" class="img-fluid">

<h3>Chế tạo máy</h3>

<p>
Thiết kế và chế tạo máy công nghiệp.
</p>

</div>

</div>

{% endblock %}